@model PersonModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Update Page";
}

<div>
    <form asp-action="UpdatePost" asp-controller="Home" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Name" \>
            <input type="text" class="form-control" asp-for="Id" hidden>
        </div>
        <div class="mb-3">
            <label asp-for="DateofBirth" class="form-label"></label>
            <input type="text" class="form-control" asp-for="DateofBirth" \>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Phone" \>
        </div>
        <div class="mb-3">
            <label asp-for="Salary" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Salary" \>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" asp-for="Married"\>
            <label class="form-check-label">Are you Married?</label>
        </div>
        <div asp-validation-summary="All" class="form-text"></div>
        <input type="submit" class="btn btn-primary" value="Update"\>
        <a class="btn btn-info ms-3" asp-action="Index" asp-controller="Home">Home</a>
    </form>
</div>
